RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^getMovieSchedulesByMovieId calls/getMovieSchedulesByMovieId.php [NC,L]

RewriteRule ^getMovieSchedulesByMovieIdAndDate calls/getMovieSchedulesByMovieIdAndDate.php [NC,L]

RewriteRule ^getSeatsByScheduleId calls/getSeatsByScheduleId.php [NC,L]

RewriteRule ^getSeatBySeatIdAndScheduleId calls/getSeatBySeatIdAndScheduleId.php [NC,L]

RewriteRule ^insertMovieSchedule calls/insertMovieSchedule.php [NC,L]

RewriteRule ^updateSeatStatus calls/updateSeatStatus.php [NC,L]


